.navbar {
  height: 101px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(19.5px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 100;
  .appLogo {
    height: 73px;
    width: 90px;
  }

  .middle-section {
    display: flex;
    gap: 20px;
  }

  /* NavLink Styles */
  .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    position: relative;
    transition: 0.3s color;

    &:hover {
      color: #fff;
    }

    &.active {
      color: #174e75; /* Adjust as needed */
      background: #fff;
      padding: 5px 10px;
      border-radius: 5px;

      /* Bracket styling */
      &::before {
        content: '[';
        position: absolute;
        left: -10px;
        top: 0;
        color: #174e75;
      }
      &::after {
        content: ']';
        position: absolute;
        right: -10px;
        top: 0;
        color: #174e75;
      }
    }
  }

  /* Import Font */
  @import url("https://fonts.googleapis.com/css?family=Roboto:300,400");

  /* Variables */
  $font-family: "Roboto", sans-serif;
  $font-size: 20px;
  $button-width: 168px;
  $button-height: 47px;
  $corner-size: 10px;
  $border-width: 1px;
  $primary-color: #ffffff;
  $hover-color: #ffffff;
  $border-color: #ffffff;
  $background-color: var(--Cayan_15, rgba(18, 198, 216, 0.15));

  /* Mixin for corner borders */
  @mixin corner-border($position1, $position2) {
    content: "";
    display: block;
    width: $corner-size;
    height: $corner-size;
    position: absolute;
    border-#{$position1}: $border-width solid $border-color;
    border-#{$position2}: $border-width solid $border-color;
    transition: 0.5s all;
  }

  /* Button Styles */
  .corner-button {
    display: inline-block;
    font-family: $font-family;
    font-size: $font-size;
    position: relative;
    width: $button-width;
    height: $button-height;
    margin: 20px;
    background: none;
    border: $border-width solid transparent;
    text-decoration: none;
    cursor: pointer;
    color: $primary-color;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    line-height: $button-height;

    transition: 0.6s color;

    /* Corner elements */
    &::before {
      @include corner-border(top, left);
      top: -#{$border-width};
      left: -#{$border-width};
    }

    &::after {
      @include corner-border(top, right);
      top: -#{$border-width};
      right: -#{$border-width};
    }

    span {
      display: block;
      position: relative;
      background: $background-color;

      &::before {
        @include corner-border(bottom, left);
        bottom: -#{$border-width};
        left: -#{$border-width};
      }

      &::after {
        @include corner-border(bottom, right);
        bottom: -#{$border-width};
        right: -#{$border-width};
      }
    }

    /* Hover Effects */
    &:hover {
      color: $hover-color;

      &::before,
      &::after,
      span::before,
      span::after {
        width: 100%;
        height: 100%;
      }
    }
  }
}
